.row{
  
  margin-bottom: 5px;
  
  
}

.col-sm-2 {
  color: white;
  padding: 15px;
  font-size: 18px;
}

.col-sm-1 {
  text-align: center;
  padding: 15px;
}

.col-sm-12 {
  text-align: center;
  padding: 25px;
}

.col-sm-10 {
  
}

img {
  float: left;
  padding: 10px;
}

.col-sm-8 {
  background-color: blueviolet;
  float: right;
}