footer {
  background-color: rgba(179, 175, 175, 0.788);
  text-align: center;
  padding: 20px;
  border-top: 5px solid rgb(18, 155, 155);
  overflow: hidden;
}

img {
  float: left;
}


.col-sm-2 {
  padding: 15px;
  color: white;
  font-size: 18px;
}

.rowa {
  border-bottom: 1px solid black;
  color: rgb(18, 155, 155);
}

row {
  background-color: white;
}